* {margin: 0; padding: 0; box-sizing: border-box; list-style-type: none; text-decoration: none;}

/*-----------------header 부분-------------------*/
/*header*/
.header {position: absolute; left: 0; top: 0; width: 100%; background: transparent; height: 100px; overflow: hidden; z-index: 1000;}
.header .header__wrap {position: relative; width: 100%; max-width: 1600px; height: 100px; padding: 0 60px; margin: 0 auto; overflow: visible;}
.header.fixed {position: fixed; background: #ffffff;}
.header.fixed .logo .logo__link {background: url('../img/header_logo.png') no-repeat left center / 100% auto; opacity: 1;}
.header.fixed .title a {color: #646464; opacity: 0.6;}
.header .header__mo {display: none;}
/*logo 부분*/ 
.logo {position: absolute; left: 60px; top: 30px;}
.logo .logo__link {display: block; position: absolute; width: 100px; height: 40px; text-indent: -9999px; background: url('../img/header_logo_white.png') no-repeat left center / 100% auto;}

/*-----------------------nav 부분----------------------------*/
/*main-nav 부분*/
.header .nav {display: block;}
.header .title__name {display: flex; margin-left: 154px; width: auto; }
.header .title {position: relative;}
.header .title1 {position: static;}
.header .title__link {display: block; position: relative; padding: 0 28px; font-weight: 800; font-size: 20px; color: #ffffff; line-height: 100px;}
/*sub-nav 부분*/
.header .nav__sub {display: none; position: absolute; top: 100px; left: 0; overflow: hidden;}
.header .title1 .nav__sub {width: 100%;}
.header .title1 .sub__name {display: flex; flex-direction: row; flex-wrap: wrap; align-items: flex-start; padding: 12px 56px 76px;}
.header .title1 .sub__link {display: block; line-height: 0; width: 364px; height: 230px; padding: 112px 22px 30px 22px;}
.header .title1 .sub__title {margin: 4px;}
.header .sub__link .sub {display: inline-block; position: relative; font-size: 18px; padding-right: 22px; line-height: 30px; color: #000000;}
.header .title1 .sub__link .sub:after {content:''; position: absolute; width: 14.5px; height: 9px; top: 12px; right: 0; background: url('../img/navi_arrow.png')no-repeat left center / 100% auto ;}
.header .sub__link .sub__explain {font-size: 14px; margin-top:2px; color: #646464;}
.header .sub__link p {line-height: 25px;}
.header .title2 .sub__name {display: block; width: 200px; height: auto;}
.header .title2 .sub__title {display: block; margin-top: 24px;}
.header .title2 .sub__name {padding: 12px 0 80px 30px;}
.header .title2 .sub__title:first-child {margin-top: 0;}
.header .title2 .sub__link2 {position: relative; padding-right: 22.5px;  color: #000000; font-size: 18px; font-weight: 800;}
.header .title2 .sub__link3 {position: relative; padding-right: 22.5px;}
.header .title2 .sub__title2 {font-size: 18px; font-weight: 800; margin-top: 12px;}
.header .title2 .sub__link3 {color: #646464; font-size: 16px; font-weight: 400;}

/*서브메뉴 이미지*/
.header .title1 .sub__title .menu1_1 {background: url('../img/header_ico_smartfactory01.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu1_2 {background: url('../img/header_ico_smartfactory02.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu1_3 {background: url('../img/header_ico_smartfactory03.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu1_4 {background: url('../img/header_ico_smartfactory04.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu1_5 {background: url('../img/header_ico_smartfactory05.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu1_6 {background: url('../img/header_ico_smartfactory06.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu2_1 {background: url('../img/header_ico_service01.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu2_2 {background: url('../img/header_ico_service02.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu2_3 {background: url('../img/header_ico_ictinfra02.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu3_1 {background: url('../img/header_ico_ictinfra01.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
.header .title1 .sub__title .menu3_2 {background: url('../img/header_ico_ictinfra02.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: #f2f2f2;}
/*반응*/
.header.act {background: #ffffff;}
.header.act .title__link {color: #979797;}
.header.act .logo__link {background: url('../img/header_logo.png') no-repeat left center / 100% auto; opacity: 1;}
.header .title:hover .title__link {color: #000000;}
.header .title1 .sub__title .menu1_1:hover {background: url('../img/header_ico_smartfactory01_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu1_2:hover {background: url('../img/header_ico_smartfactory02_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu1_3:hover {background: url('../img/header_ico_smartfactory03_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu1_4:hover {background: url('../img/header_ico_smartfactory04_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu1_5:hover {background: url('../img/header_ico_smartfactory05_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu1_6:hover {background: url('../img/header_ico_smartfactory06_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu2_1:hover {background: url('../img/header_ico_service01_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu2_2:hover {background: url('../img/header_ico_service02_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu2_3:hover {background: url('../img/header_ico_ictinfra02_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu3_1:hover {background: url('../img/header_ico_ictinfra01_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .menu3_2:hover {background: url('../img/header_ico_ictinfra02_on.png') no-repeat; background-position: 22px 28px; background-size: 42px auto; background-color: rgba(209, 236, 252);}
.header .title1 .sub__title .sub__link:hover .sub {color: #007DC5; font-weight: 800;}
.header .title1 .sub__title .sub__link:hover .sub__explain {color: #007DC5;}
.header .title1 .sub__title .sub__link:hover .sub:after {background: url('../img/navi_arrow_on.png')no-repeat left center / 100% auto;}
.header .title2 .sub__link2:hover {color: #007dc5}
.header .title2 .sub__link2:hover:after {content: ''; position: absolute; top: 3px; right: 0; width: 16px; height: 16px; background: url('../img/navi_arrow_on.png') no-repeat left center / 100% auto;}
.header .title2 .sub__link3:hover:after {content: ''; position: absolute; top: 3px; right: 0; width: 16px; height: 16px; background: url('../img/navi_arrow_on.png') no-repeat left center / 100% auto;}
.header.on {background-color: #ffffff;}
.header.on .title__link {color: #979797;}
.header.on .logo__link {background: url('../img/header_logo.png') no-repeat left center / 100% auto; opacity: 1;}

/*inquiry 부분*/
.inquiry .icon {position: absolute; height: 40px; line-height: 40px; right: 60px; top: 30px; padding: 0 30px; border: 0 solid #fff; background: linear-gradient(268deg, #007DC5 0%, #00A651 100%); border-radius: 25px;}
.inquiry span {position: relative; height: 100%; font-size: 14px; font-weight: 900; color: #fff;}
/*모바일 설정*/
@media all and (max-width: 1280px) {
    .header {height: 64px !important;}
    .header .header__wrap {height: 64px; max-width: none;}
    .header .nav {display: none;}
    .header .logo {top: 16px; left: 24px; width: 87px; height: 34px;}
    .header .logo .logo__link {width: 100%; height: 100%;}
    .header .header__wrap .mo__btn {display: block; position: absolute; top: 18px; right: 24px; width: 28px; height: 28px; text-indent: -9999px;}
    .header .header__wrap .mo__btn:before {content: ''; position: absolute; top: 8px; left: 0; width: 28px; height: 2px; background-color: #ffffff; opacity: 0.55;}
    .header .header__wrap .mo__btn:after {content: ''; position: absolute; bottom: 8px; left: 0; width: 28px; height: 2px; background-color: #ffffff; opacity: 0.55;}
    .header.fixed .header__wrap .mo__btn:before {content: ''; position: absolute; top: 8px; left: 0; width: 28px; height: 2px; background-color: #171717; opacity: 0.6;}
    .header.fixed .header__wrap .mo__btn:after {content: ''; position: absolute; bottom: 8px; left: 0; width: 28px; height: 2px; background-color: #171717; opacity: 0.6;}
    .header .mo__menu__list2 {display: none; padding-bottom: 17px;}
    .header .mo__menu__list2 .list2__link {display: block; line-height: 30px; padding: 14px 10px 14px 24px; font-size: 17px; font-weight: 500; letter-spacing: -1px; color: #646464;}
    .header .inquiry {display: none;}
    .header .header__mo {position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; padding-top: 90px; background: #ffffff;}
    .header .mo__logo__img {position: absolute; top: 16px; left: 24px; width: 87px; height: 34px; background: url('../img/header_logo.png') no-repeat left center / 100% auto; text-indent: -9999px;}
    .header .header__mo .mo__btn {display: block; position: absolute; top: 18px; right: 24px; width: 28px; height: 28px; text-indent: -9999px;}
    .header .header__mo .mo__btn:before {content: ''; position: absolute; top: 50%; left: 50%; width: 28px; height: 2px; background-color: #171717; transform: translate(-50%, -50%) rotate(-45deg); opacity: 0.75;}
    .header .header__mo .mo__btn:after {content: ''; position: absolute; top: 50%; left: 50%; width: 28px; height: 2px; background-color: #171717; transform: translate(-50%, -50%) rotate(45deg);  opacity: 0.75;}
    .header .list .mo__title {display: block; position: relative; line-height: 32px; letter-spacing: -2px; font-size: 20px; font-weight: 900; padding: 14px 10px 14px 24px;}
    .header .list .mo__title:after  {content: ''; position: absolute; top: 50%; right: 33px; width: 8px; height: 1px; background-color: #3b3b3b; transform: translate(-50%, -50%) rotate(45deg); opacity: 0.75;}
    .header .list .mo__title:before  {content: ''; position: absolute; top: 50%; right: 27px;  width: 8px; height: 1px; background-color: #3b3b3b; transform: translate(-50%, -50%) rotate(135deg); opacity: 0.75;}
    .header .list .mo__title.on:after {content: ''; position: absolute; top: 50%; right: 33px; width: 8px; height: 1px; background-color: #3b3b3b; transform: translate(-50%, -50%) rotate(-45deg); opacity: 0.75;}
    .header .list .mo__title.on:before {content: ''; position: absolute; top: 50%; right: 27px;  width: 8px; height: 1px; background-color: #3b3b3b; transform: translate(-50%, -50%) rotate(-135deg); opacity: 0.75;}
    .header .mo__btn {display: none;}
}

/*-----------------main 부분-------------------*/

/*section1 slide*/
.main .section1 .slide__wrap {overflow: hidden;}
.main .section1 .slide {position: relative; background: no-repeat center / cover; width: 100%; height: 100vh;}
.main .section1 .slide__text {position: absolute; width: 100%; bottom: 80px; padding: 0 80px; max-width: 1600px; transform: translateX(-50%); left: 50%;}
.main .section1 .slide__title {font-size:64px; color: #ffffff;}
.main .section1 .slide__subtitle {margin-top: 40px;}
.main .section1 .slide__subtitle p {font-size: 20px; color: #ffffff;}
.main .section1 .slick-dots {position: absolute; bottom: 364px; left: 50%; width: 100%; max-width: 1600px; padding: 0 80px; height: 84px;  transform: translateX(-50%); display: flex; align-content: flex-start; flex-direction: column; flex-wrap: wrap;}
.main .section1 .slick-dots li {padding: 1px 1px 0 0; width: 41px; height: 41px;}
.main .section1 .slick-dots li button {width: 40px; height: 40px; background: transparent; border: 1px solid rgba(255, 255, 255, 0.5); cursor: pointer; overflow: hidden; border-radius: 2px; text-indent: -9999px;}
.main .section1 .slick-dots li.slick-active  button {background-color: #fff; border: 1px solid #fff;}

/*section2 부분*/
.main .section2 .solution__wrap {position: relative; max-width: 1600px; width: 100%; padding: 120px 80px; margin: auto; }
.main .section2 .title {position: absolute; top: 130px; left: 80px; padding-left: 18px; font-size: 16px; font-weight: 400; line-height: 28px;}
.main .section2 .title:after {content: ''; position: absolute; left: 0; top: 9px; width: 10px; height: 10px; background-color: #000;}
.main .section2 .sub {padding-left: 34%;}
.main .section2 .sub .sub__text {font-size: 40px; line-height: 72px; font-weight: 800;}

/*section2 카드 이미지*/
.main .section2 .box__title {background: #007DC5 url('../img/main_solutions_conTitle_bg.png') no-repeat left bottom / 100% auto; padding: 60px 10% 48px 10%; height: 100%;}
.main .section2 .box__mes {background: #f5f5f5 url('../img/main_solutions_conMES_bg.png') no-repeat center top / 100% auto; padding: 306px 48px 48px; height: 100%;}
.main .section2 .box__pam {background: #f5f5f5 url('../img/main_solutions_conPAM_bg.png') no-repeat center top / 100% auto; padding: 306px 48px 48px; height: 100%;}
.main .section2 .box__qms {background: #f5f5f5 url('../img/main_solutions_conQMS_bg.png') no-repeat center top / 100% auto; padding: 306px 48px 48px; height: 100%;}
.main .section2 .box__esh {background: #f5f5f5 url('../img/main_solutions_conESH_bg.png') no-repeat center top / 100% auto; padding: 306px 48px 48px; height: 100%;}
/*section2 solution__box 공통*/
.main .section2 .solution {display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: stretch; padding-top: 80px;}
.main .section2 .solution__box {width: 33.3%; padding: 4px;}
.main .section2 .solution__box .title__text {color: #000; font-size: 32px; line-height: 48px;}
.main .section2 .solution__box .sub__title__text {color: #007DC5; line-height: 28px; margin-top: 12px;}
.main .section2 .solution__box .sub__text {color: #646464; margin-top: 36px; font-size: 16px; line-height: 30px; letter-spacing: -0.3px;}
.main .section2 .solution__box .solution__btn {display: inline-block; position: relative; color: #007DC5; padding: 0 40px 0 68px; margin-top: 54px; height: 48px; line-height: 48px;}
.main .section2 .solution__box .solution__btn:before {position: absolute; content: ''; top: 50%; left: 0; transform: translateY(-50%); width: 48px; height: 48px; border-radius: 150px; background-color: #007DC5; opacity: 0.05;}
.main .section2 .solution__box .solution__btn:after {position: absolute; content: ''; top: 50%; left: 17px; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86); transform: translateY(-50%); width: 14.5px; height: 9px; background: url('../img/arrow_blue.png') repeat-x left top / 14.5px auto;}
.main .section2 .solution__box .solution__btn:hover:after {background-position:14.5px top;}
.main .section2 .solution__box .solution__btn .solution__link {font-size: 14px;}
/*section2 title 부분*/
.main .section2 .solution__box .box__title .title__text {color: #fff;}
.main .section2 .solution__box .box__title .sub__text {color: #fff; opacity: 0.8;}
.main .section2 .solution__box .box__title .solution__btn {color: #fff;}
.main .section2 .solution__box .box__title .solution__btn:before {background-color: #fff; opacity: 0.1;}
.main .section2 .solution__box .box__title .solution__btn:after {background: url('../img/arrow.png') repeat-x left top / 14.5px auto;}
.main .section2 .solution__box .box__title .solution__btn:hover:after {background-position:14.5px top;}
/*모바일 설정*/
@media all and (max-width: 1280px) {
    .main .section2 .solution__wrap {display: flex; flex-direction: column; padding: 145px 24px 80px;}
    .main .section2 .title {position: absolute; top: 97px; left: 24px;}
    .main .section2 .sub {padding: 0;}
    .main .section2 .sub .sub__text {font-size: 30px; font-weight: 800; line-height: 44px;}
    .main .section2 .solution {display: flex; justify-content: flex-start; align-items: center; flex-wrap: nowrap; flex-direction: column; padding-top: 60px;}
    .main .section2 .solution .solution__box {width: 100%;}
    .main .section2 .solution .box__title {padding: 48px 24px 60px 24px;}
    .main .section2 .solution .box__title .title__text {font-size: 30px;}
    .main .section2 .solution .box__title .sub__text {font-size: 16px; margin-top: 24px;}
    .main .section2 .solution .box__title .solution__btn {margin-top: 40px;}
    .main .section2 .solution .box__mes {margin-top: 36px; background-size: 474px auto;}
    .main .section2 .solution .box__mes .title__text {font-size: 28px;}
    .main .section2 .solution .box__mes .sub__title__text {font-size: 14px; margin-top: 8px;}
    .main .section2 .solution .box__mes .sub__text {margin-top: 24px;}
    .main .section2 .solution .box__mes .solution__btn {margin-top: 30px;}
    .main .section2 .solution .box__pam {background-size: 474px auto;}
    .main .section2 .solution .box__pam .title__text {font-size: 28px;}
    .main .section2 .solution .box__pam .sub__title__text {font-size: 14px;}
    .main .section2 .solution .box__pam .sub__text {margin-top: 24px;}
    .main .section2 .solution .box__pam .solution__btn {margin-top: 30px;}
    .main .section2 .solution .box__qms {background-size: 474px auto;}
    .main .section2 .solution .box__qms .title__text {font-size: 28px;}
    .main .section2 .solution .box__qms .sub__title__text {font-size: 14px;}
    .main .section2 .solution .box__qms .sub__text {margin-top: 24px;}
    .main .section2 .solution .box__qms .solution__btn {margin-top: 30px;}
    .main .section2 .solution .box__esh {background-size: 474px auto;}
    .main .section2 .solution .box__esh .title__text {font-size: 28px;}
    .main .section2 .solution .box__esh .sub__title__text {font-size: 14px;}
    .main .section2 .solution .box__esh .sub__text {margin-top: 24px;}
    .main .section2 .solution .box__esh .solution__btn {margin-top: 30px;}
}

/*section3 부분*/
.main .section3 {display: flex;background: #171717; height: auto;}
.main .section3 .business__wrap {position: relative; max-width: 1600px; width: 100%; padding: 120px 80px; margin: auto;}
.main .section3 .title {position: absolute; top: 130px; left: 80px; padding-left: 18px; font-size: 16px; font-weight: 400; line-height: 28px; color: #fff;}
.main .section3 .title:after {content: ''; position: absolute; left: 0; top: 9px; width: 10px; height: 10px; background-color: #fff;}
.main .section3 .sub {padding-left: 50%; color: #fff;}
.main .section3 .sub__title {font-size: 44px; font-weight: 800; line-height: 72px; letter-spacing: -0.4px; }
.main .section3 .sub .sub__text {margin-top: 30px; font-size: 18px; line-height: 30px; font-weight: 800; opacity: 0.3;}
.main .section3 .business {padding-top: 80px; }
.main .section3 .business .b__list {display: flex; flex-wrap: wrap; justify-content: space-between;}
.main .section3 .b__list .b__box {position: relative; width: 49.7%; height: 600px; margin-top: 8px; color: #fff; overflow: hidden;}
.main .section3 .b__list .b__box:hover .box {transform: translateY(-100%);}
.main .section3 .b__list .b__box:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background-color: #007DC5;}
.main .section3 .b__list .b__box:hover:before {opacity: 1;}
.main .section3 .b__list .b__box .box {position: absolute; top: 100%; left: 0; transform: translateY(-150px); transition: 0.3s; padding: 48px;}
.main .section3 .b__list .b__box .b__title {font-size: 36px; line-height: 54px;}
.main .section3 .b__list .b__box .b__sub {font-size: 18px; line-height: 30px;}
.main .section3 .b__list .b__title {font-size: 36px; font-weight: 600;}
.main .section3 .b__list .b__sub {font-size: 18px; margin-top: 48px; opacity: 0.8;}
.main .section3 .b__list .b__link {margin-top: 30px;}
.main .section3 .b__link .b__btn {display: inline-block; position: relative; padding: 0 40px 0 68px; color: #fff; line-height: 48px; height: 48px;}
.main .section3 .b__list .box .b__btn:before {position: absolute; content: ''; top: 50%; left: 0; transform: translateY(-50%); width: 48px; height: 48px; border-radius: 150px; background-color: #fff; opacity: 0.05;}
.main .section3 .b__list .box .b__btn:after {position: absolute; content: ''; top: 50%; left: 17px; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86); transform: translateY(-50%); width: 14.5px; height: 9px; background: url('../img/arrow.png') repeat-x left top / 14.5px auto;}
.main .section3 .b__list .box .b__btn:hover:after {background-position: 14.5px top;}
/*box list 배경이미지*/
.main .section3 .business .list1 {background: url('../img/main_business_imgCon01_bg.png') no-repeat center / cover;}
.main .section3 .business .list2 {background: url('../img/main_business_imgCon02_bg.png') no-repeat center / cover;}
.main .section3 .business .list3 {background: url('../img/main_business_imgCon03_bg.png') no-repeat center / cover;}
/*business__link부분*/
.main .section3 .b__list .business__link {position: relative; width: 49.7%; min-height: 600px; background: #272727; margin-top: 8px; color: #fff;}
.main .section3 .b__list .business__link .box {position: relative; padding: 60px 48px 48px;}
.main .section3 .b__list .business__link .b__link {display: flex; flex-direction: column; margin-top: 40px;}
.main .section3 .b__list .business__link .b__link .b__btn {margin-top: 20px;}
/*모바일 설정*/
@media all and (max-width: 1280px) {
    .main .section3 .business__wrap {padding: 128px 24px 80px;}
    .main .section3 .title {top: 80px; left: 24px;}
    .main .section3 .sub {padding: 0;}
    .main .section3 .sub .sub__title {line-height: 44px; letter-spacing: -2px; font-size: 30px;}
    .main .section3 .sub .sub__text {font-size: 16px;}
    .main .section3 .business {padding-top: 40px;}
    .main .section3 .b__list {flex-direction: column; justify-content: flex-start; flex-wrap: nowrap;}
    .main .section3 .business .b__list .b__box {width: 100%; height: auto; padding-top: 84%; margin-top: 20px; background-position: center top; background-size: 100% auto;}
    .main .section3 .b__list .b__box .box {position: relative; width: 100%; padding: 30px; top: 0; transform: translateY(0); background: #272727;}
    .main .section3 .b__list .b__box:before {display: none;}
    .main .section3 .b__list .b__box .b__title {font-size: 30px;}
    .main .section3 .b__list .b__box .b__sub {font-size: 16px; margin-top: 16px;}
    .main .section3 .b__list .b__box .b__btn span {font-size: 14px;}
    .main .section3 .b__list .business__link {width: 100%; min-height: auto; margin-top: 20px;}
    .main .section3 .b__list .business__link .box {height: 100%; padding: 48px 30px 60px 30px;}
    .main .section3 .b__list .business__link .box .b__title {font-size: 30px;}
    .main .section3 .b__list .business__link .box .b__sub {margin-top: 24px; font-size: 16px;}
    .main .section3 .b__list .business__link .box .b__link {margin-top: 20px;}
    .main .section3 .b__list .business__link .box .b__btn span {font-size: 14px;}
}
/*section4 partner 부분*/
.main .section4 {display: block; width: 100%; height: 100%; background: url('../img/main_IctPartner_bg.png') no-repeat center / cover;}
.main .section4 .partner__wrap {position: relative; width: 100%; padding: 140px 80px 160px; margin: auto; max-width: 1600px;}
.main .section4 .partner__wrap .title__box {color: #fff;}
.main .section4 .partner__wrap .title__box .title {font-size: 80px; font-weight: 800;}
.main .section4 .partner__wrap .title__box .sub__title {font-size: 18px; margin-top: 30px; opacity: 0.7;}
.main .section4 .partner__wrap .p__link {display: inline-block; position: relative; width: 167px; height: 60px; line-height: 60px; margin-top: 60px; padding:0 40px 0 74px; border-radius: 30px; background: rgba(255, 255, 255, 0.2);}
.main .section4 .partner__wrap .p__link:before {position: absolute; content: ''; top: 50%; left: 5px; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86); transform: translateY(-50%); width: 48px; height: 48px; border-radius: 150px; background-color: #fff; opacity: 0.05;}
.main .section4 .partner__wrap .p__link:after {position: absolute; content: ''; top: 50%; left: 22px; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86); transform: translateY(-50%); width: 14.5px; height: 9px; background: url('../img/arrow.png') repeat-x left top / 14.5px auto;}
.main .section4 .partner__wrap .p__link:hover:after {background-position: 14.5px top;}
.main .section4 .partner__wrap .p__link:hover:before {width: 167px; height: 60px; left: 0; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);}
.main .section4 .partner__wrap .p__link span {color: #fff; font-size: 15px; font-weight: 900;}
.main .section4 .partner__wrap .p__experience {padding-top: 120px;}
.main .section4 .partner__wrap .p__experience .p__list {display: flex; justify-content: space-between; align-items: center; color: #fff;}
.main .section4 .partner__wrap .p__experience .p__list:not(:first-child) {margin-top: 48px; padding-top: 60px; border-top: 1px solid rgba(255, 255, 255, 0.2);}
.main .section4 .partner__wrap .p__experience .p__title {display: flex; flex-direction: column; font-size: 80px; font-weight: 800; line-height: 75px;}
.main .section4 .partner__wrap .p__experience .p__title span {font-size: 52px;}
.main .section4 .partner__wrap .p__experience .p__sub {opacity: 0.8; text-align: right;}
/*모바일 설정*/
@media all and (max-width: 1280px) {
    .main .section4 .partner__wrap .pc {display: none;}
    .main .section4 .partner__wrap {padding: 80px 24px 100px;}
    .main .section4 .partner__wrap .title__box .title {font-size: 40px;}
    .main .section4 .partner__wrap .title__box .sub__title {font-size: 16px;}
    .main .section4 .partner__wrap .p__link {margin-top: 48px;}
    .main .section4 .partner__wrap .p__experience {padding-top: 100px;}
    .main .section4 .partner__wrap .p__experience .p__list {flex-direction: column; justify-content: flex-start; align-items: flex-start;}
    .main .section4 .partner__wrap .p__list .p__title {font-size: 48px;}
    .main .section4 .partner__wrap .p__list .p__title span {font-size: 28px;}
    .main .section4 .partner__wrap .p__list .p__sub {margin-top: 30px;}
}
/*section5 issue,news 부분*/
.main .section5 .news__wrap {width: 100%; max-width: 1600px; margin: auto; padding: 120px 80px;}
.main .section5 .news__wrap .title {font-size: 48px; font-weight: 900;}
.main .section5 .news__wrap .news__tap {margin-top: 30px;}
.main .section5 .news__wrap .news__list {position: relative; display: flex; flex-direction: column; align-items: flex-end; padding-bottom: 408px; height: 1224px;}
.main .section5 .news__wrap .news__list li {position: relative; margin-bottom: 8px; background: #f5f5f5;  width: 474px;}
.main .section5 .news__wrap .news__list .first__list {position: absolute; top: 0; left: 0; padding-top: 408px; width: calc(100% - 482px); margin-bottom: 0; overflow: hidden;}
.main .section5 .news__wrap .news__list .first__list .news__text {position: relative; width: auto; height: 400px; background: #f5f5f5;}
.main .section5 .news__wrap .news__list .first__list .list1__img {position: absolute; top: 0; left: 0; width: 100%; height: 408px; overflow: hidden;}
.main .section5 .news__wrap .news__list .first__list .list1__img img {position: absolute; top: 0; width: auto; height: 100%;}
.main .section5 .news__wrap .news__list .second__list {position: absolute; top: 816px; left: 0; height: 400px; width: 100%; padding-right: 474px; overflow: hidden;}
.main .section5 .news__wrap li .news__text {position: relative; width: 474px; height: 400px; padding: 48px; overflow: hidden;}
.main .section5 .news__wrap li .news__text .news__title {font-size: 26px; line-height: 40px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
.main .section5 .news__wrap li .news__text .news__sub {font-size: 16px; line-height: 28px; margin-top: 30px; color: #646464; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden;}
.main .section5 .news__wrap .news__list .second__list .news__text {width: auto; background: #f5f5f5;}
.main .section5 .news__wrap .news__list .second__list .list2__img {position: absolute; top: 0; right: 0; width: 474px; height: 100%;}
.main .section5 .news__wrap .news__list .second__list .list2__img img {position: absolute; width: auto; height: 100%;}
.main .section5 .news__wrap .news__list .new__link {position: absolute; bottom: 48px; left: 48px;}
.main .section5 .news__wrap .news__list .new__link .list__btn {display: inline-block; position: relative; color: #007DC5; padding: 0 40px 0 68px; margin-top: 54px; height: 48px; line-height: 48px;}
.main .section5 .news__wrap .news__list .new__link .list__btn:before {position: absolute; content: ''; top: 50%; left: 0; transform: translateY(-50%); width: 48px; height: 48px; border-radius: 150px; background-color: #007DC5; opacity: 0.05;}
.main .section5 .news__wrap .news__list .new__link .list__btn:after {position: absolute; content: ''; top: 50%; left: 17px; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86); transform: translateY(-50%); width: 14.5px; height: 9px; background: url('../img/arrow_blue.png') repeat-x left top / 14.5px auto;}
.main .section5 .news__wrap .news__list .new__link .list__btn:hover:after {background-position:14.5px top;}
.main .section5 .news__wrap .news__btn {display: flex; justify-content: center; align-items: center; width: 100%; margin-top:52px;}
.main .section5 .news__wrap .news__btn .btn {display: inline-block; position: relative; width: auto; height: 60px; line-height: 60px; padding:0 40px 0 74px; border: 1px solid #e9e9e9; border-radius: 150px; color: #646464; background: rgba(255, 255, 255, 0.2);}
.main .section5 .news__wrap .news__btn .btn:before {position: absolute; content: ''; top: 50%; left: 5px; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86); transform: translateY(-50%); width: 48px; height: 48px; border-radius: 150px; background-color: #f9f9f9;}
.main .section5 .news__wrap .news__btn .btn:after {position: absolute; content: ''; top: 50%; left: 22px; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86); transform: translateY(-50%); width: 14.5px; height:9px; background: url('../img/arrow_black.png') repeat-x left top / 14.5px auto;}
.main .section5 .news__wrap .news__btn .btn:hover:after {background-position: 14.5px top;}
.main .section5 .news__wrap .news__btn .btn:hover:before {width: 100%; height: 60px; left: 0; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);}
.main .section5 .news__wrap .news__btn .btn span {position: relative;}
/*모바일 설정*/
@media all and (max-width: 1280px) {
    .main .section5 .news__wrap {padding: 60px 24px;}
    .main .section5 .news__wrap .title {font-size: 30px; font-weight: 900;}
    .main .section5 .news__wrap .news__list {padding-bottom: 0; height: auto;}
    .main .section5 .news__wrap .news__list li {margin-bottom: 8px;}
    .main .section5 .news__wrap .news__list .first__list {position: relative; width: 100%; height: auto; padding-top: 84.4%; margin-bottom: 8px;}
    .main .section5 .news__wrap .news__list .first__list .list1__img {padding-top: 84.4%; height: 0;}
    .main .section5 .news__wrap .news__list .first__list .list1__img img {transform: translateX(-25%);}
    .main .section5 .news__wrap .news__list .first__list .news__text {height: auto; padding: 40px 30px 118px;}
    .main .section5 .news__wrap .news__list .second__list {position: relative; top: 0; width: 100%; height: auto; padding-top: 84.4%; padding-right: 0;}
    .main .section5 .news__wrap .news__list .second__list .list2__img {padding-top: 84.4%; width: 100%; height: 0;}
    .main .section5 .news__wrap .news__list .second__list .list2__img img {transform: translate(-25%, -100%);}
    .main .section5 .news__wrap .news__list .second__list .news__text {height: auto; padding: 40px 30px 118px;}
    .main .section5 .news__wrap .news__list .second__list .list__btn {margin: 0;}
    .main .section5 .news__wrap .news__list .news {width: 100%;}
    .main .section5 .news__wrap .news__list .news .news__text {width: 100%; height: auto; padding: 40px 30px 118px;}
    .main .section5 .news__wrap .news__list .news .list__btn {margin: 0;}
}
/*footer부분*/
.footer {position: relative; background: #171717;}
.footer .footer__wrap {max-width: 1600px; width: 100%; margin: 0 auto;}
.footer .footer__1 {display: flex; width: 100%;}
.footer .footer__1 .title {width: 640px;}
.footer .footer__1 .title .title__title {height: 412px; padding: 60px 60px 0 60px; background: url('../img/footer_bg.png') no-repeat center / cover;}
.footer .footer__1 .title .title__title .title__name {color: #fff; font-size: 36px; font-weight: 900; line-height: 52px; letter-spacing: -2.8px;}
.footer .footer__1 .title .title__title .sub__info {margin-top: 20px; color: #fff; letter-spacing: -1px; opacity: 0.7; font-size: 16px; line-height: 28px;}
.footer .footer__1 .title .title__link {display: inline-block; position: relative; width: 167px; height: 48px; margin-top: 64px; padding:0 36px 0 58px; border-radius: 30px; background: rgba(255, 255, 255, 0.2); }
.footer .footer__1 .title .title__link:before {position: absolute; content: ''; top: 50%; left: 6px; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86); transform: translateY(-50%); width: 36px; height: 36px; border-radius: 150px; background-color: #fff; opacity: 0.05;}
.footer .footer__1 .title .title__link:after {position: absolute; content: ''; top: 50%; left: 15px; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86); transform: translateY(-50%); width: 14.5px; height: 9px; background: url('../img/arrow.png') repeat-x left top / 14.5px auto;}
.footer .footer__1 .footer__1 .title .title__link:hover:after {background-position: 14.5px top;}
.footer .footer__1.title .title__link:hover:before {width: 167px; height: 48px; left: 0; transition: 0.65s cubic-bezier(0.785, 0.135, 0.15, 0.86);}
.footer .footer__1 .title .title__link span {position: relative; top: 30%; font-size: 13px; color: #fff;}
.footer .footer__1 .title__infor {display: flex; flex-direction: column; height: 363px; padding: 41px 60px 30px; border-left: 1px solid #2e2e2e; border-bottom: 1px solid #2e2e2e;}
.footer .footer__1 .title__infor .footer__logo {width: 152px; height: 60px;}
.footer .footer__1 .title__infor .link__all {display: none;}
.footer .footer__1 .title__infor .sub {margin-top: 45px; color: #747474; font-size: 13px;}
.footer .footer__1 .title__infor .isms {display: flex; align-items: center; margin-top: 30px;}
.footer .footer__1 .title__infor .isms img {width: 40px; height: 37px;}
.footer .footer__1 .title__infor .isms p {margin-left: 20px; color: #747474; font-size: 12px;}

.footer .footer__1 .sub__link {width: calc(100% - 640px); border-right: 1px solid #2e2e2e;}
.footer .footer__1 .sub__link .foot__menu {display: flex; position: relative; flex-direction: row; flex-wrap: wrap;}
.footer .footer__1 .sub__link .foot__menu .menu1 {width: 33.3%; height: 412px; padding: 80px 0 0 30px; border-left: 1px solid #2e2e2e; border-bottom: 1px solid #2e2e2e;}
.footer .footer__1 .sub__link .foot__menu .list1 {font-size: 14px; font-weight: 800; line-height: 26px; color: #fff;}
.footer .footer__1 .sub__link .foot__menu .menu__list .link {margin-top: 8px;}
.footer .footer__1 .sub__link .foot__menu .menu__list .link a {color: #747474; font-size: 14px; line-height: 26px;}
.footer .footer__1 .sub__link .foot__menu .menu2 {width: 33.3%; height: 363px; padding: 30px 0 0 30px; border-left: 1px solid #2e2e2e; border-bottom: 1px solid #2e2e2e;}
.footer .footer__1 .sub__link .foot__menu .menu3 {position: absolute; left: 30px; top: 580px;}
.footer .footer__1 .mo__sub {display: none;}
/*footer 최하단 부분*/
.footer .footer__2 {display: flex; flex-direction: row;}
.footer .footer__2 .title {display: flex; align-items: center; width: 640px; padding: 18px 0 18px 60px; border-left: 1px solid #2e2e2e;}
.footer .footer__2 .title .copy {color: #747474;}
.footer .footer__2 .sub__title {display: flex; flex-direction: row; align-items: center; width: calc(100% - 640px); border-right: 1px solid #2e2e2e;}
.footer .footer__2 .sub__title .sub__link {display: flex; align-items: center; width: 33.3%; height: 66px; padding-left: 30px; font-size: 13px; border-left: 1px solid #2e2e2e;}
.footer .footer__2 .sub__title .sub__link li:last-child {margin-left: 9px; padding-left: 8px; border-left: 1px solid #747474;}
.footer .footer__2 .sub__title .sub__link li:first-child {font-weight: 900;}
.footer .footer__2 .sub__title .sub__link a {color: #747474;}
.footer .footer__2 .sub__title .sns {display: flex; flex-direction: row; align-items: center; width: 33.3%; height: 66px; padding-left: 30px; border-left: 1px solid #2e2e2e;}
.footer .footer__2 .sub__title .sns .sns__link {margin-right: 20px;}
.footer .footer__2 .sub__title .sns .sns__link a {display: block; width: 30px; height: 30px;}
.footer .footer__2 .sub__title .sns .youtube {background: url('../img/foot_youtub.png')no-repeat center / 100% auto; text-indent: -9999px;}
.footer .footer__2 .sub__title .sns .blog {background: url('../img/foot_blog.png')no-repeat center / 100% auto; text-indent: -9999px;}
.footer .footer__2 .sub__title .sns .facebook {background: url('../img/foot_facebook.png')no-repeat center / 100% auto; text-indent: -9999px;}
.footer .footer__2 .sub__title .family {padding: 20px 0 20px 30px; height: 66px; border-left: 1px solid #2e2e2e;}
.footer .footer__2 .sub__title .family a {color: #747474; font-size: 14px;}

/*모바일 설정*/
@media all and (max-width: 1280px) {
    .footer .footer__1 {display: block;}
    .footer .footer__1 .title {width: 100%;}
    .footer .footer__1 .title .title__title {padding: 30px 0 42px 24px; height: auto;}
    .footer .footer__1 .title .title__title .title__name {font-size: 24px; line-height: 36px; letter-spacing: -1px;}
    .footer .footer__1 .title .title__title .sub__info {font-size: 14px; line-height: 26px; margin-top: 12px;}
    .footer .footer__1 .title .title__title .title__link {margin-top: 24px;}
    .footer .footer__1 .title__infor {padding: 48px 24px 43px; height: auto;}
    .footer .footer__1 .title__infor .footer__logo {width: 106px; height: auto;}
    .footer .footer__1 .title__infor .link__all {display: flex; margin-top: 60px;}
    .footer .footer__1 .title__infor .link__all a {color: #747474;}
    .footer .footer__1 .title__infor .link__all .link:last-child {margin-left: 9px; padding-left: 8px;}
    .footer .footer__1 .title__infor .link__all .link:after {border-left: 1px solid #2e2e2e;}
    .footer .footer__1 .title__infor .sub {line-height: 22px;}
    .footer .footer__1 .title__infor .sub .pc {display: none;}
    .footer .footer__1 .title__infor .isms {margin-top: 12px;}
    .footer .footer__1 .sub__link {display: none;}
    .footer .footer__1 .mo__sub {display: flex; flex-direction: column;}
    .footer .footer__1 .mo__sub .list {border-bottom: 1px solid #2e2e2e;}
    .footer .footer__1 .mo__sub .list1 {display: block; position: relative; color: #ffffff; width: 100%; line-height: 26px; padding:16px 10px 24px; font-size: 14px; font-weight: 900;}
    .footer .footer__1 .mo__sub .menu__list {display: none;}
    .footer .footer__1 .mo__sub .link {padding: 16px 10px 24px;}
    .footer .footer__1 .mo__sub .link a {color: #747474;}
    .footer .footer__1 .mo__sub .list1:after  {content: ''; position: absolute; top: 50%; right: 33px; width: 8px; height: 1px; background-color: #3b3b3b; transform: translate(-50%, -50%) rotate(45deg); opacity: 0.75;}
    .footer .footer__1 .mo__sub .list1:before  {content: ''; position: absolute; top: 50%; right: 27px;  width: 8px; height: 1px; background-color: #3b3b3b; transform: translate(-50%, -50%) rotate(135deg); opacity: 0.75;}
    .footer .footer__1 .mo__sub .list1.click:after {transform: translate(-50%, -50%) rotate(-45deg); opacity: 0.75;}
    .footer .footer__1 .mo__sub .list1.click:before {transform: translate(-50%, -50%) rotate(-135deg); opacity: 0.75;}
    .footer .footer__2 {display: block;}
    .footer .footer__2 .title {display: block; align-items: center; justify-content: center; width: 100%; font-size: 12px; border-left: none; padding: 0;}
    .footer .footer__2 .title .copy {text-align: center; padding: 48px 24px 0; line-height: 22px; width: 100%;}
    .footer .footer__2 .sub__title {display: flex; flex-direction: column; width: 100%;}
    .footer .footer__2 .sub__title .sub__link {display: none;}
    .footer .footer__2 .sub__title .sns {justify-content: center; width: 100%; height: auto; padding: 0 24px; margin-top: 20px;}
    .footer .footer__2 .sub__title .sns .sns__link {margin: 0 15px;}
    .footer .footer__2 .sub__title .family {display: block; width: 100%; margin-top: 60px;  border-top: 1px solid #2e2e2e; border-left: none;}
}

@media all and (max-width: 1279px) {
    .main .section1 .slick-dots {display: none;}
}